# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

# Binaries
# --------
*.dll
*.exe

#Folders
#-------
/.vs/
/Debug/
/Release/

#VS
#-----

*.vcxproj.filters
*.vcxproj.user
*.sln

/vs/
/x64/